@import './index.scss';


// =====
// ABOUT
// =====

.About {
  padding: 60px 0;
}

.About-GetInTouch {
  display: grid;
  list-style-type: none;
  margin: 0;
  justify-content: space-between;
  grid-template-columns: auto auto auto;

  div {
    .icon {
      color: $primarycolor;
      float: left;
    }

    .content {
      span {
        display: block;
      }
    }

    .heading {
      text-transform: uppercase;
      color: $primarycolor;
      margin-top: 20px;
    }
  }
}

// ========
// PROJECTS
// ========

#HomeProjects {
  background-color: #eee;
  padding: 60px 0;
}
