@import './params.scss';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


// =======
// GENERAL
// =======

.Container {
  width: 90%;
  max-width: 1200px;
  margin: 0px auto;
}

.layout > header {
  margin-bottom: 60px;
}

.LogoImage {
  width: 300px;
  float: left;
}

.LogoImage img {
  max-width: 100%;
}

.HeroImage {
  height: 200px;
  padding: 50px 0px;
  background-size: cover;
}

@media (max-width: 768px) {
  .HeroImage {
    max-height: 180px;
  }
}

@media (max-width: 375px) {
  .HeroImage {
    max-height: 150px;
  }
}

h1 {
  color: $secondarycolor;
  font-size: 32pt;
}

h2 {
  color: $secondarycolor;
  font-size: 28pt;
}

h3 {
  margin: 40px 0 20px 0;
  color: $primarycolor;
  font-size: 18pt;
}

p, span, a, h4, time {
  color: #666;
  margin: 10px 0;
  font-size: 14pt;
}

@media (max-width: $device-m) {
  p, span, a, h4, time {
    font-size: 12pt;
  }
}


.button, .button:hover, .button:focus, .button:active {
  color: #fff;
  background: #D9E021;
  padding: 10px 15px;
  border-radius: $borderradius1;
  text-decoration: none;
  transition: background 0.5s;
  margin: 20px 0px;

}

button:hover, button:focus, {
  background: rgb(179, 184, 32)
}

.readmore, .readmore:hover, .readmore:focus, .readmore:visited {
  color: $primarycolor;
  font-style: italic;
}

.readmore:hover, .readmore:focus {
  color: $primarycolor2
}


// ==========
// NAVIGATION
// ==========

#Navigation {
  float: right;

  ul {
    list-style-type: none;
  }

  li {
    float: left;
    margin: 0 20px;
  }

  a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16pt;
    cursor: pointer;
    transition: color 0.15s;
  }

  a:hover, a:focus {
    color: $primarycolor;
  }
}

// ======
// FOOTER
// ======

#Footer {
  /*position: fixed;
  bottom: 0px;
  */
  width: 100%;
  background-color: #333;
  color: #666;
  padding: 20px 0;
  font-size: 12px;
}

