/* === Breakpoints === */
$device-xl: 1440px;
$device-l: 1084px;
$device-m: 880px;
$device-s: 425px;

/* === Colors === */
$primarycolor: #d9e021;
$primarycolor2: #8e9437;
$secondarycolor: #29abe2;
$secondarycolor0: #77cedf;

/* === Radius === */
$borderradius1: 5px;
$borderradius2: 12px;