@charset "UTF-8"; 

.icon-project-farm:before {
	content: "\f722";
}
.icon-project-klinik:before {
	content: "\f7f2";
}
.icon-project-kirche:before {
	content: "\f51d";
}
.icon-project-schule:before {
	content: "\f51c";
}
.icon-project-waisenarbeit:before {
	content: "\f1ae";
}